[submodule "depends/polytools"]
	path = depends/polytools
	url = https://github.com/IntelLabs/HERACLES-SEAL-polytools
[submodule "depends/googletest"]
	path = depends/gtest
	url = git://github.com/google/googletest.git
