[submodule "depends/polytools"]
	path = depends/SEAL-Polytools
	url = https://github.com/cknabs/SEAL-Polytools.git
[submodule "depends/googletest"]
	path = depends/gtest
	url = https://github.com/google/googletest.git
[submodule "depends/SEAL"]
	path = depends/SEAL
	url = https://github.com/Microsoft/SEAL
[submodule "depends/SEAL-Polytools"]
	path = depends/SEAL-Polytools
	url = https://github.com/cknabs/SEAL-Polytools
